@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: #8257E5;
}

a {
  display: inline-block;
}

.menu {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
}

.menu > div, .menu form {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}

.menu form div {
  flex-basis: 50%;
  padding: 5px 10px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.250);
  transition: .3s;
}

.menu form div input {
  width: 100%;
  font-size: 1rem;
  border: none;
  background-color: #FFFFFF;
  padding: 15px 10px;
  outline: none;
}

.expand_input {
  flex-basis: 75% !important;
}

#search_icon {
  height: 20px;
}